<h1>Hello <%= name %></h1>

<!-- will call the delete method and override the use of app.post -->
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>