<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="">
</head>
<body>
    <nav>
        <ul class="nav-link">
            <Link class="home" to="/">
                <li>to do list</li>
            </Link>
        </ul>
    </nav >

    <div class="container">
        <div class="login-container">
            <p class="logo">🐧</p>

            <% if(messages.error) { %>
                <!-- <div className="error-message"> -->
                <%= messages.error %>
            <!-- </div> -->
            <% } %>

            <form action="/login" method="POST" class="form-inner">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        class="input"
                        placeholder="Email"
                        id="email"
                        name="email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        class="input"
                        placeholder="Password"
                        id="password"
                        name="password"
                        required
                    />
                </div>
                <button title="Login" class="login-button" type="submit">Login</button>
                <a class="register" href="/register">Register</a>
            </form>
        </div>
    </div>

</body>
</html>

